

.box{
  width: 350px;
  height: 150px;
  margin: 10px;
  padding: 25px;
  background-color: rgb(216, 216, 216);
  border-width: 10px;
}

#box1{
   border: dotted ;
}

#box2{
    border-style: dashed solid;
}

#box3{
    border-style: dashed groove none dotted;
}